.App {
  text-align: center;
  background-color: #bfd4d7;
  padding: 2em;
}
h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: rgb(82, 35, 82);
  margin: 10px auto;
}
button {
  margin: 15px auto;
  background-color: beige;
  box-shadow: 0px 5px 5px gray;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  padding: 5px;
  font-weight: 600;
  margin-right: 2em;
  width: 10em;
}
button:hover {
  background-color: cadetblue;
  color: #fff;
}
button:active {
  transform: translateY(4px);
  background-color: #fff;
  color: rgb(194, 12, 43);
}
.removeButton {
  background-color: #c73d3d;
  color: #fff;
}
a {
  text-decoration: none;
}

input {
  width: 20%;
  height: 2em;
  border-radius: 5px;
  margin: 2em;
  outline: none;
  border: none;
  background-color: #eef4ad;
  font-family: monospace;
  font-weight: 700;
}
img {
  margin: 0 auto;
}
select {
  width: 40%;
  height: 2em;
  margin: 1em;
  border-radius: 5px;
}
@media (max-width: 650px) {
  h1 {
    font-size: 2em;
  }
  input {
    width: 8em;
    margin: 1em;
  }
  button {
    margin: 15px auto;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    margin-right: 1em;
    width: 6em;
  }
  img {
    width: 70%;
    height: auto;
  }
  a {
    font-size: 0.8em;
  }
}
